.minecraft/.mixin.out
.minecraft/.replay_cache

.minecraft/coremods
.minecraft/crash-reports
.minecraft/CustomSkinLoader
.minecraft/dumps
.minecraft/ffmpeg
.minecraft/fontfiles
.minecraft/journeymap
.minecraft/local
.minecraft/logs
.minecraft/replay_recordings
.minecraft/resourcepacks
.minecraft/saves
.minecraft/screenshots

.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/texturepacks
.minecraft/crafttweaker.log
.minecraft/icon.png
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/optionsshaders.txt
.minecraft/servers.dat
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/WailaErrorOutput.txt
.packignore
/instance.cfg
mmc-pack.json
.minecraft/config/splash.properties
