natives/
.minecraft/.mixin.out
.minecraft/.replay_cache
.minecraft/coremods
.minecraft/crash-reports
.minecraft/CustomSkinLoader
.minecraft/dumps
.minecraft/ffmpeg
.minecraft/fontfiles
.minecraft/journeymap
.minecraft/local
.minecraft/logs
.minecraft/replay_recordings
.minecraft/saves
.minecraft/screenshots
.minecraft/resourcepacks/The-Package-1.12.2
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/texturepacks
.minecraft/crafttweaker.log
.minecraft/icon.png
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/optionsshaders.txt
.minecraft/servers.dat
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/WailaErrorOutput.txt
.packignore
/instance.cfg
mmc-pack.json
.minecraft/config/splash.properties
.minecraft/config/InvTweaks/InvTweaks.cfg
.minecraft/config/tlf/HideNames.cfg
.minecraft/config/fantasticlib/reference/recipes.txt
.minecraft/config/fantasticlib/reference/oredict.txt
.minecraft/config/fantasticlib/reference/items.txt
.minecraft/config/fantasticlib/reference/entities.txt
.minecraft/config/fantasticlib/reference/blockstates.txt
.minecraft/config/fantasticlib/reference/blocks.txt
.minecraft/config/fantasticlib/reference/villager_professions.txt
.minecraft/config/fantasticlib/reference/sounds.txt
.minecraft/config/fantasticlib/reference/slottings.txt
.minecraft/config/fantasticlib/reference/recipes.txt
.minecraft/config/fantasticlib/reference/potions.txt
.minecraft/config/fantasticlib/reference/potion_types.txt
.minecraft/config/fantasticlib/reference/players.txt
.minecraft/config/fantasticlib/reference/oredict.txt
.minecraft/config/fantasticlib/reference/items.txt
.minecraft/config/fantasticlib/reference/entities.txt
.minecraft/config/fantasticlib/reference/enchantments.txt
.minecraft/config/fantasticlib/reference/blockstates.txt
.minecraft/config/fantasticlib/reference/blocks.txt
.minecraft/config/fantasticlib/reference/biomes.txt
.minecraft/config/jei/worldSettings.cfg
.minecraft/config/worldedit/worldedit.properties
.minecraft/config/multimine.cfg
.minecraft/resourcepacks
