# Configuration file

general {
    B:debugDisplay=false
    B:enabled=true
}


ui_background {
    B:uiBackground=true

    vanilla {
        B:anvil=false
        B:beacon=false
        B:brewing=false
        B:chest=false
        B:crafting=false
        B:creative=false
        B:dispenser=false
        B:enchantment=false
        B:furnace=false
        B:hopper=false
        B:inventory=false
        B:shulker=false
        B:villager=false
    }

    seenscreens {
        B:baubles.client.gui.GuiPlayerExpanded=true
        B:com.blamejared.ctgui.client.gui.craftingtable.GuiCraftingTable=true
        B:com.mrcrayfish.vehicle.client.gui.GuiStorage=true
        B:com.pg85.otg.forge.gui.OTGGuiEnterWorldName=true
        B:com.pg85.otg.forge.gui.dimensions.OTGGuiDimensionList=true
        B:com.pg85.otg.forge.gui.mainmenu.OTGGuiWorldSelection=true
        B:com.pg85.otg.forge.gui.presets.OTGGuiPresetList=true
        B:"com.replaymod.lib.de.johni0702.minecraft.gui.container.AbstractGuiScreen$MinecraftGuiScreen"=true
        B:"com.replaymod.replay.ReplayHandler$1"=true
        B:com.tmtravlr.qualitytools.reforging.GuiReforgingStation=true
        B:de.mineformers.vanillaimmersion.client.gui.CraftingTableGui=true
        B:mcjty.lostcities.gui.GuiLostCityConfiguration=true
        B:net.mcft.copy.backpacks.client.GuiBackpack=true
        B:net.minecraft.client.gui.GuiControls=true
        B:net.minecraft.client.gui.GuiCustomizeWorldScreen=true
        B:net.minecraft.client.gui.GuiLanguage=true
        B:net.minecraft.client.gui.GuiScreenRealmsProxy=true
        B:net.minecraft.client.gui.GuiScreenResourcePacks=true
        B:org.dimdev.vanillafix.crashes.GuiCrashScreen=true
        B:org.dimdev.vanillafix.crashes.GuiInitErrorScreen=true
        B:vazkii.quark.base.client.gui.config.GuiConfigModule=true
        B:vazkii.quark.base.client.gui.config.GuiConfigRoot=true
    }

}


ui_movement {
    B:jumpInInventories=true
    B:moveInInventories=true
    B:sneakInInventories=false
    B:textFieldDisablesMovement=true

    vanilla {
        B:anvil=true
        B:beacon=true
        B:brewing=true
        B:chest=true
        B:crafting=true
        B:creative=true
        B:dispenser=true
        B:enchantment=true
        B:furnace=true
        B:hopper=true
        B:inventory=true
        B:shulker=true
        B:villager=true
    }

    seenscreens {
        B:baubles.client.gui.GuiPlayerExpanded=true
        B:com.mrcrayfish.vehicle.client.gui.GuiStorage=true
        B:de.mineformers.vanillaimmersion.client.gui.CraftingTableGui=true
        B:net.mcft.copy.backpacks.client.GuiBackpack=true
        B:net.minecraft.client.gui.GuiControls=true
    }

}


